<!DOCTYPE html>
<html>
   <head>
        <!-- LOAD STATICFILES -->
        {% load static %}
       <meta charset="utf-8">
       <meta name = "viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href= "{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
       <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
       <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
            <title>{% block title %}The Last Social Media You'll Ever Need{% endblock %} | MyTube </title>
    </head>
    
    <body>
        <main>
            {% include 'nav.html' %}

            <div class="container">
                <div class="row justify-content-center p-2" >
                    <h1>{% block header %}The Last Social Media You'll Ever Need{% endblock %}</h1>
                </div>
                {% block content %}
                <!-- Содержимое страницы -->
                {% endblock %}
            </div>
            {% include 'footer.html' %}

        </main>
    
    </body>
    
    </html>
    
</html>