{% extends 'base.html' %}
{% load cache %}
{% block title %}Избранные авторы{% endblock %}

{% block header %}
Избранные авторы
{% endblock header %}

{% block content %}
<div class = 'container'>

{% include "menu.html" with follow=True %}

    {% for post in posts %}
        {% include 'post_item.html' with post=post %}
    {% endfor %}

        <div class = 'row justify-content-center'>
            {% if posts.has_other_pages %}
            {% include 'paginator.html' with items=posts paginator=paginator %}
            {% endif %}    
        </div>
    </div>

{% endblock content %}
