{% extends 'base.html' %}


{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body ">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{username.first_name}} {{username.last_name}}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         @{{ username.username }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{ username.following.count }} <br />
                                            Подписан: {{ username.follower.count }}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                            Количество записей: {{ username.posts.count }}
                                            </div>
                                    </li>
                                    <li class="list-group-item text-center d-inline-block">
                                        {% if following %}
                                        <a class="btn btn-lg btn-light" 
                                                href="{% url 'profile_unfollow' username.username %}" role="button"> 
                                                Отписаться 
                                        </a> 
                                        {% else %}
                                        <a class="btn btn-lg btn-primary" 
                                                href="{% url 'profile_follow' username.username %}" role="button">
                                        Подписаться 
                                        </a>
                                        {% endif %}
                                    </li>
                            </ul>
                    </div>
            </div>

            <div class="col-md-9">                
                
                {% for post in posts %}
                <!-- Начало блока с отдельным постом --> 
                        {% include 'post_item.html' with post=post %}    
                <!-- Конец блока с отдельным постом --> 

                {% endfor %}
                    
                <div class = 'container'>
                    <div class = 'row justify-content-center'>
                        {% if posts.has_other_pages %}
                        {% include 'paginator.html' with items=posts paginator=posts_paginator %}
                        {% endif %}    
                    </div>
                </div>
            
                <!-- Здесь постраничная навигация паджинатора -->
     </div>
    </div>
</main>
{% endblock content %}
    